﻿@model MKDB_v01.Models.Stoerungsbild

@{
    ViewBag.Title = "Löschen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Störungsbild löschen</h2>

<h3>Wollen Sie dieses Störungsbild wirklich löschen?</h3>
<div>
    <h4>Störungsbild</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stoerungstext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stoerungstext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErfassungsDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErfassungsDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Erfasser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Erfasser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidationsDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidationsDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BauteilId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BauteilId)
        </dd>

    </dl>

    @using (Html.BeginForm("StoerungsbildLoeschen", "StoerungsbilderValidieren", Model))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-primary" /> |
            <button onclick="goBack()" class="btn btn-link">Zurück zur Liste</button>
        </div>
    }
</div>



<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>
