﻿@model MKDB_v01.ViewModels.ValidierenViewModel


@{
    ViewBag.Title = "Stoerungsbild validieren";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Störungsbild validieren</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Überprüfen Sie die Angaben auf deren Korrektheit. </h4>
        <hr />
        <div>
            @Html.HiddenFor(model => model.Stoerungsbild.Id)
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Störungstext *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stoerungsbild.Stoerungstext, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stoerungsbild.Stoerungstext, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Beanstandung *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stoerungsbild.Beanstandung, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @Html.ValidationMessageFor(model => model.Stoerungsbild.Beanstandung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stoerungsbild.Ursache, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stoerungsbild.Ursache, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @Html.ValidationMessageFor(model => model.Stoerungsbild.Ursache, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stoerungsbild.Abhilfe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stoerungsbild.Abhilfe, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @Html.ValidationMessageFor(model => model.Stoerungsbild.Abhilfe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MerkmaleGesetztIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.MerkmaleGesetztIds, new MultiSelectList(Model.Merkmale, "Id", "MerkmalName"),
                new { @class = "form-control", multiple = "multiple", id = "multiselect-merkmale" })
                @*@Html.ValidationMessageFor(model => model.MerkmaleGesetzt, "", new { @class = "text-danger" })*@
                
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Validieren" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<p>
    <button onclick="goBack()" class="btn btn-link">Zurück zur Liste</button>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">
    function goBack() {
        window.history.back();
    }


    $(document)
        .ready(function () {

            var myArray = [];
            @foreach (var d in Model.Stoerungsbild.Merkmale)
            {
                @:myArray.push("@d.Id");
            }
            
            $('#multiselect-merkmale').multiselect('select', myArray);

        });

    
   
</script>