﻿@using Microsoft.Ajax.Utilities
@using System.Data.SqlClient


@model MKDB_v01.ViewModels.ValidierenListViewModel



@{
    ViewBag.Title = "Validieren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Störungsbilder validieren</h2>

<h4>Hier sehen Sie alle nicht validierten Störungsbilder.</h4>
  

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Stoerungstext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Bauteil.Baugruppe.BaugruppenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Bauteil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Bauteil.Fahrzeugtypen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().ErfassungsDatum)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model.Suchresultate)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stoerungstext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bauteil.Baugruppe.BaugruppenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bauteil.BauteilName)
            </td>
            <td>
                @foreach (var ft in item.Bauteil.Fahrzeugtypen)
                {
                    <div>@Html.DisplayFor(ftItem => ft.FahrzeugtypName)</div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErfassungsDatum)
            </td>


            <td>



                <div>
                    @Html.ActionLink("Validieren", "Validieren", new { id = item.Id })
                </div>
                <div>
                    @Html.ActionLink(" Löschen", "Loeschen", new { id = item.Id })
                </div>



            </td>
        </tr>
    }

</table>


@if (!Model.Suchresultate.Any())
{
    <h4>Keine validierbaren Störungsbilder vorhanden!</h4>
}
