﻿@model MKDB_v01.Models.Stoerungsbild

@{
    ViewBag.Title = "Stoerungsbilderdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Störungsbilderdetails</h2>

<div>
    <h4>Störungsbild</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Stoerungstext)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Stoerungstext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bauteil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bauteil.BauteilName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bauteil.Baugruppe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bauteil.Baugruppe.BaugruppenName)
        </dd>
        <dd><hr /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bauteil.Fahrzeugtypen)
        </dt>
        <dd>
        

            @foreach (var item in Model.Bauteil.Fahrzeugtypen)
            {
                <div>

                    @Html.DisplayFor(modelItem => item.FahrzeugtypName)
                    
                </div>
            }
        

        </dd>
        <dd><hr/></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Beanstandung)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Beanstandung)
        </dd>
        <dd><hr /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ursache)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Ursache)
        </dd>
        <dd><hr /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Abhilfe)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Abhilfe)
        </dd>
        <dd><hr /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Erfasser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Erfasser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErfassungsDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErfassungsDatum)
        </dd>

        @if (Model.ValidationsDatum.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Validator)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Validator)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidationsDatum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ValidationsDatum)
            </dd>

        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.Validator)
            </dt>
            <dd>
                ---
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ValidationsDatum)
            </dt>
            <dd>
                ---
            </dd>
        }
        <dd><hr /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.Merkmale)
        </dt>

        <dd>
            

                @foreach (var item in Model.Merkmale)
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.MerkmalName)
                    </div>
                }
            
        </dd>

    </dl>
</div>



<p>
    <button onclick="goBack()" class="btn btn-link">Zurück zur Liste</button>
</p>

<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>
