﻿


@model MKDB_v01.ViewModels.SuchresultateListViewModel



@{
    ViewBag.Title = "Stoerungsbilder Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gefundene Störungsbilder</h2>

<h4></h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Stoerungstext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Bauteil.Baugruppe.BaugruppenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Bauteil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().Bauteil.Fahrzeugtypen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suchresultate.First().ErfassungsDatum)
        </th>
        
        
        <th></th>
    </tr>
   

    @foreach (var item in Model.Suchresultate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stoerungstext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bauteil.Baugruppe.BaugruppenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bauteil.BauteilName)
            </td>
            <td>
                @foreach (var ft in item.Bauteil.Fahrzeugtypen)
                {
                    <div>@Html.DisplayFor(ftItem => ft.FahrzeugtypName)</div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErfassungsDatum)
            </td>
            
        
            <td>
                @Html.ActionLink(" Details", "Details", new { id = item.Id })
                

                @if (User.IsInRole("Superuser"))

                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                    </div>
                    <div>
                        @Html.ActionLink(" Löschen", "Loeschen", new {id = item.Id})
                    </div>

                }
                

            </td>
        </tr>
    }

</table>

@if (!Model.Suchresultate.Any())
{
    <h4>Keine passenden Störungsbilder vorhanden!</h4>
}
