﻿@using System.Data.SqlClient

@model MKDB_v01.ViewModels.SucheViewModel

@{
    ViewBag.Title = "Suchen";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Störungsbild suchen</h2>

@using (Html.BeginForm("StoerungsbilderAusDbLesen", "StoerungsbildSuchen"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Geben Sie mindestens einen Fahrzeugtypen an.</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            
                @Html.LabelFor(model => model.FahrzeugtypenGesetztIds, htmlAttributes: new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.FahrzeugtypenGesetztIds, new MultiSelectList(Model.Fahrzeugtypen, "Id", "FahrzeugtypName"),
                    new { @class = "multiselect form-control", multiple = "multiple", id = "multiselect-fahrzeugtypen" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Freitext, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Freitext, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.Stoerungstext, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BaugruppeGesetztId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BaugruppeGesetztId,
                    new SelectList(Model.Baugruppen, "Id", "BaugruppenName"), "Baugruppe wählen", new
                    {
                        @class = "form-control",
                        id = "dropdown-baugruppen"
                    })
                @*@Html.ValidationMessageFor(model => model.BaugruppeGesetztId, "", new {@class = "text-danger"})*@
            </div>
        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.BauteilGesetztId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.BauteilGesetztId, new SelectList("", ""), "Bauteil wählen",
                    new { @class = "form-control", id = "select-bauteile" })


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MerkmaleGesetztIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.MerkmaleGesetztIds, new MultiSelectList(Model.Merkmale, "Id", "MerkmalName"),
                new { @class = "form-control", multiple = "multiple", id = "multiselect-merkmale" })
                @*@Html.ValidationMessageFor(model => model.MerkmaleGesetzt, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Suchen" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>



<!-- Multiselect Plugin initialisieren: -->
<script type="text/javascript">

    var gesetzteFahrzeugtypen;
    var gesetzteBaugruppe;

    $(document).ready(function () {

        gesetzteFahrzeugtypen = $('#multiselect-fahrzeugtypen').val();
        gesetzteBaugruppe = $('#dropdown-baugruppen').val();
        bauteileLaden();

        $('#multiselect-fahrzeugtypen').multiselect({
            includeSelectAllOption: true,
            selectAllText: 'Alle wählen',
            onDropdownHide: function (event) {

                gesetzteFahrzeugtypen = $('#multiselect-fahrzeugtypen').val();
                $('#select-bauteile').multiselect('dataprovider', []);
                bauteileLaden();
            }
        });

        $("#dropdown-baugruppen").multiselect({
            onDropdownHide: function (event) {

                gesetzteBaugruppe = $('#dropdown-baugruppen').val();
                $('#select-bauteile').multiselect('dataprovider', []);
                bauteileLaden();

            }
        });


        $("#multiselect-merkmale").multiselect();

        $('#select-bauteile').multiselect({
            enableFiltering: true,
            disableIfEmpty: true
        });
    });


    var bauteileLaden = function () {

        if (jQuery.isEmptyObject(gesetzteBaugruppe) | jQuery.isEmptyObject(gesetzteFahrzeugtypen)) {
            return;
        }


        $('#select-bauteile').multiselect('dataprovider', []);


        jQuery.post(
            '../StoerungsbildSuchen/Bauteile',
            {
                baugruppeId: gesetzteBaugruppe,
                fahrzeugtypenGesetztIds: gesetzteFahrzeugtypen


            },
            function (data) {
                var result = data;

                var bauteileOptionList = []; bauteileOptionList.push({
                    'label': 'Bauteil wählen',
                    'value': '0'
                });
                jQuery.each(result, function (i, item) {
                    bauteileOptionList.push({
                        'label': item['BauteilName'],
                        'value': item['Id']
                    });

                });

                jQuery('#select-bauteile').multiselect('dataprovider', bauteileOptionList);

            });
    }

</script>
