﻿@{
    ViewBag.Title = "Info";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    Diese Webapplikation wurde im Rahmen einer Diplomarbeit der TEKO Bern für den Studiengang <br />
    "Dipl. Informatikteckniker HF" entwickelt. <br />
    Auftraggeber war die Abteilung Technik-Tram von BERNMOBIL, bei dieser der Diplomand, Christian Sulzener, vier Jahre tätig war.<br/><br/>
    Die Applikation dient zur Erfassung und Verwaltung von Diagnosedaten zu den Störungsbildern der BERNMOBIL-Trammflotte.
</p>
