﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Christian Sulzener<br />
    Schöneggweg 12, 3007 Bern<br />
    <abbr title="Phone">Tel:</abbr>
    079.313.25.80
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:christian.sulzener@gmail.com">christian.sulzener@gmail.com</a><br />
    
</address>