﻿
@{
    ViewBag.Title = "BERNMOBIL";
}


<div class="jumbotron">

    
    <p class="lead" style=""></p>

    
</div>


<div class="row">

    <div class="col-md-4">
        <h2>Suchen</h2>
        <p>Nach bestehenden Störungsbildern suchen und diese anzeigen.</p>
        <p><a class="btn btn-default" href="../StoerungsbildSuchen/Suche">Nach Störungsbild suchen &raquo;</a></p>
    </div>
    @if (User.IsInRole("Writer"))

    {


        <div class="col-md-4">
            <h2>Erfassen</h2>
            <p>
                Falls Ihr Störungsbild nicht in der Datenbank vorhanden ist, können Sie
                hier ein neues anlegen. <br/>
            </p>
            <p>
                <a class="btn btn-default" href="../StoerungsbildErfassen/Erfassen">Störungsbild erfassen &raquo;</a>
            </p>
        </div>
    }
    @if (User.IsInRole("Superuser"))

    {
        <div class="col-md-4">
            <h2>Validieren</h2>
            <p>Sie können erfasste Störungsbilder validieren, dadurch werden diese für Suchabfragen freigegeben.</p>
            <p>
                <a class="btn btn-default" href="../StoerungsbilderValidieren/ValidierenList">Störungsbilder validieren &raquo;</a>
            </p>
        </div>
    }
</div>
