﻿@model MKDB_v01.ViewModels.ErfassenViewModel

@{
    ViewBag.Title = "Fehlgeschlagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Ups.. fehlgeschlagen</h2>

