﻿@using System.Data.SqlClient
@using MKDB_v01.Models

<script src="/Scripts/modernizr-2.8.3.js" type="text/javascript"></script>
<script src="/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>


@model MKDB_v01.ViewModels.ErfassenViewModel

@{
    ViewBag.Title = "Erfassen";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Störungsbild erfassen</h2>


@using (Html.BeginForm("StoerungsbildInDbSchreiben", "StoerungsbildErfassen"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mit "*" markierte Felder sind erforderlich.</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FahrzeugtypenGesetztIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.FahrzeugtypenGesetztIds, new MultiSelectList(Model.Fahrzeugtypen, "Id", "FahrzeugtypName"),
                    new { @class = "multiselect form-control", multiple = "multiple", id = "multiselect-fahrzeugtypen" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Baugruppen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Stoerungsbild.Bauteil.BaugruppeId,
                    new SelectList(Model.Baugruppen, "Id", "BaugruppenName"), "Baugruppe wählen", new
                    {
                        @class = "form-control",
                        id = "dropdown-baugruppen"

                    })

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">

                <div class="btn-group" id="accordion">
                    <button class="btn btn-primary" type="button" id="butnOne" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="closeTwo()">
                        Bestehendes Bauteil
                    </button>
                    <button class="btn btn-primary" type="button" id="butnTwo" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="closeOne()">
                        Neues Bauteil
                    </button>

                </div>
                @Html.ValidationMessageFor(model => model.Stoerungsbild.Bauteil.Baugruppe, "", new { @class = "text-danger" })
            </div>
        </div>


        <div id="collapseOne" class="form-group collapse" aria-labelledby="headingOne">

            @Html.LabelFor(model => model.Bauteile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.Stoerungsbild.BauteilId, new SelectList("", ""), "Bauteil wählen",
                    new { @class = "form-control", id = "select-bauteile" })


            </div>
        </div>


        <div id="collapseTwo" class="form-group collapse" aria-labelledby="headingOne">

            @Html.LabelFor(model => model.NeuesBauteil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NeuesBauteil, new { htmlAttributes = new { @class = "form-control", id = "neue-bauteile" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Störungstext *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stoerungsbild.Stoerungstext, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.Stoerungstext, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Beanstandung *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" , aria-expanded="true">
                @Html.EditorFor(model => model.Stoerungsbild.Beanstandung, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @*@Html.ValidationMessageFor(model => model.Beanstandung, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stoerungsbild.Ursache, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stoerungsbild.Ursache, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @*@Html.ValidationMessageFor(model => model.Ursache, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stoerungsbild.Abhilfe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stoerungsbild.Abhilfe, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
                @*@Html.ValidationMessageFor(model => model.Abhilfe, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MerkmaleGesetztIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.MerkmaleGesetztIds, new SelectList(Model.Merkmale, "Id", "MerkmalName"),
                new { @class = "form-control", multiple = "multiple", id = "multiselect-merkmale" })
                @*@Html.ValidationMessageFor(model => model.MerkmaleGesetzt, "", new { @class = "text-danger" })*@
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Erfassen" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>



<!-- Multiselect Plugin initialisieren: -->
<script type="text/javascript">

    function closeTwo() {
        $('#collapseOne').collapse('show');
        $('#collapseTwo').collapse('hide');
        
    }
    function closeOne() {
        $('#collapseTwo').collapse('show');
        $('#collapseOne').collapse('hide');
        
    }


    var gesetzteFahrzeugtypen;
    var gesetzteBaugruppe;

    $(document).ready(function () {

        gesetzteFahrzeugtypen = $('#multiselect-fahrzeugtypen').val();
        gesetzteBaugruppe = $('#dropdown-baugruppen').val();
        bauteileLaden();

        $('#multiselect-fahrzeugtypen').multiselect({
            includeSelectAllOption: true,
            selectAllText: 'Alle wählen',
            onDropdownHide: function (event) {

                gesetzteFahrzeugtypen = $('#multiselect-fahrzeugtypen').val();
                $('#select-bauteile').multiselect('dataprovider', []);
                bauteileLaden();
            }
        });

        $("#dropdown-baugruppen").multiselect({
            onDropdownHide: function (event) {

                gesetzteBaugruppe = $('#dropdown-baugruppen').val();
                $('#select-bauteile').multiselect('dataprovider', []);
                bauteileLaden();

            }
        });


        $("#multiselect-merkmale").multiselect();

        $('#select-bauteile').multiselect({
            enableFiltering: true,
            disableIfEmpty: true
        });
    });


    var bauteileLaden = function () {

        if (jQuery.isEmptyObject(gesetzteBaugruppe) | jQuery.isEmptyObject(gesetzteFahrzeugtypen)) {
            return;
        }


        $('#select-bauteile').multiselect('dataprovider', []);


        jQuery.post(
            '../StoerungsbildSuchen/Bauteile',
            {
                baugruppeId: gesetzteBaugruppe,
                fahrzeugtypenGesetztIds: gesetzteFahrzeugtypen


            },
            function (data) {
                var result = data;

                var bauteileOptionList = []; bauteileOptionList.push({
                    'label': 'Bauteil wählen',
                    'value': '0'
                });
                jQuery.each(result, function (i, item) {
                    bauteileOptionList.push({
                        'label': item['BauteilName'],
                        'value': item['Id']
                    });

                });

                jQuery('#select-bauteile').multiselect('dataprovider', bauteileOptionList);

            });
    }


    


</script>